.h{
    background-color: rgb(126, 150, 19);
    color:white;
    border-radius: 1px;
    border-color: rgb(126, 150, 19);
    border-style: solid;
    cursor: pointer;
    transition: padding-left 2s, padding-right 2s, padding-top 2s, padding-bottom 2s;
}
.h:hover{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.a{
    background-color:rgb(126, 150, 19);
    color:white;
    border-radius: 1px;
    border-color: rgb(126, 150, 19);
    cursor: pointer;
    border-style: solid;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.3);
    transition: box-shadow 0.15s;
}
.a:active{
    box-shadow: 0px 0px 0px white;
}
.r{
   background-color: rgb(126, 150, 19);
   color: white;
   border-radius: 1px;
   border-color:rgb(126, 150, 19);
   cursor: pointer; 
   border-style: solid;
   transition: padding-left 0.75s, padding-right 0.75s;
}
.r:hover{
    padding-left: 12px;
    padding-right: 12px;
}
.s{
    background-color: rgb(126, 150, 19);
    color: white;
    border-radius: 1px;
    border-width:2px;
    border-color: rgb(126, 150, 19);
    border-style: solid;
}