            div {
              font-family: arial;
            }

            .thumbnail {
              width: 100%;
              margin-bottom: 8px;
              border-radius: 10px;
            }

            .channel-profile-container {
              vertical-align: top;
              margin-right: 5px;
            }

            .channel-profile {
              object-fit: cover;
              width: 50px;
              height: 50px;
              border-radius: 100px;
            }

            .video-info {
              margin-top: 0px;
              font-weight: bold;
            }

            .video-info-details {
              font-size: 13px;
            }

            .video-details {
              display: grid;
              grid-template-columns: 50px 1fr;
              column-gap: 10px;
            }

            .Main-container {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              row-gap: 40px;
              column-gap: 50px;
            }