.header{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.left-section{
    width: 250px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: rgb(255, 240, 240);
    padding: 5px;
}
.hambuger{
    width: 30px;
    height: 30px;  
    margin: 5px;    
}
.youtube-logo{
    width: 90px;
    height: 30px;
    margin: 10px;
}
.middle-section{
    flex: 1;
    display: flex;
    align-items: center;
}
input{
    width: 80%;
    padding: 5px;
    font-family: arial;
    font-size: 15px;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.right-section{
    width: 250px;
    margin-left: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: rgb(255, 240, 240);
    padding: 10px;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.upload,.apps,.notifi,.voice,.search{
    width: 30px;
    height: 30px;
}
.voice{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: rgb(255, 240, 240);
    padding: 5px;

}